.notifs {
	min-height: 200px;
	min-width: 300px;
	max-height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.notifs .topbar {
	width: 100%;
	min-height: 32px;
	background-color: whitesmoke;
	display: flex;
	flex-direction: row;
	border: 1px gray solid;
	border-radius: 5px;
	justify-content: space-between;
	align-items: center;
	padding-left: 0.5em;
	padding-right: 0.5em;
	box-sizing: inherit;
}
.notifs .reception {
	background-color: lightgray;
	flex-grow: 2;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	overflow-y: auto;
	background: linear-gradient(rgba(211, 211, 211, 0.5), rgba(211, 211, 211, 0.5)), url("/images/Notification.png");
}

.notifs .notif_droite {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding-right: 0.5em;
}

.notifs .reception .texte {
	min-width: 45%;
	width: max-content;
	padding: 0.3em;
	background-color: aliceblue;
	border: black 1px solid;
	border-radius: 5px;
}
.notifs .reception .texte.gras {
	font-weight: bolder;
}
.notifs .who2 {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}
.notifs .who2 img {
	margin-left: 4px;
	padding: 2px;
	box-sizing: border-box;
}

.notifs .who2 img.sel {
	border: rgb(253, 198, 126) 4px inset;
	background-color: rgb(247, 223, 192);
	cursor: default;
}

.notifs .who2 select {
	margin-left: 1em;
}
.notifs .who2 select option {
	padding: 0.5em;
}
.notifs .footbar {
	border: 1px solid grey;
	border-radius: 10px;
	width: 100%;
	min-height: 40px;
	display: flex;
	flex-direction: row;
	padding: 0.2em;
}
.notifs .footbar div {
	flex-grow: 2;
	margin-right: 1em;
	z-index: 2;
}
.notifs .footbar .placeholder {
	position: absolute;
	padding: 5px;
	z-index: 1;
	color: gray;
}
#notif_send {
	margin: auto;
	padding: 2px;
	cursor: pointer;
}
#notif_send.no_way {
	cursor: not-allowed;
	opacity: 0.4;
}
