[Unit]
Description=Lancer le serveur Web

[Service]
ExecStart=node /home/torii/aikido.js
WorkingDirectory=/home/torii

[Install]
WantedBy=multi-user.target