<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Cahier de Bridge</title>
		<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png" />
		<link rel="manifest" href="/images/site.webmanifest" />
		<link rel="stylesheet" href="/css/style.css" />
		<link rel="stylesheet" href="/css/status.css" />
		<link rel="stylesheet" href="/css/tree.css" />
		<link rel="stylesheet" href="/css/menu.css" />
		<link rel="stylesheet" href="/css/modal.css" />
		<style type="text/css">
			body {
				box-sizing: border-box;
				margin: 0;
				padding: 0;
			}
			#container {
				position: absolute;
				display: flex;
				flex-direction: column;
				width: 100%;
				height: 100%;
				box-sizing: border-box;
			}
			#volets {
				position: relative;
				width: 100%;
				height: 100%;
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: stretch;
				box-sizing: border-box;
			}
			#volet_centre {
				position: relative;
				box-sizing: border-box;
				display: flex;
				flex-direction: column;
				background-color: lightgray;
				background: linear-gradient(rgba(211, 211, 211, 0.5), rgba(211, 211, 211, 0.5)), url("/images/Cards.png");
				padding: 0.5em;
				max-width: 1000px;
			}
			.donne {
				display: flex;
				flex-direction: row;
				background-color: white;
			}
			#jtxt {
				min-height: 50px;
				width: 100%;
				padding: 0.5em;
				background-color: white;
				border: 1px solid black;
				border-top: none;
			}
			.donne > .cartes {
				flex-grow: 2;
				display: grid;
				grid-template-areas:
					". nord . "
					"ouest centre est"
					". sud . ";
			}

			.donne > .encheres {
				display: flex;
				flex-direction: column;
				padding: 0.5em;
				align-items: center;
			}
			.NS {
				display: flex;
				flex-direction: column;
				align-items: center;
			}

			.nord {
				justify-content: flex-end;
				grid-area: nord;
				margin-bottom: 8px;
			}
			.sud {
				margin-top: 8px;
				grid-area: sud;
			}
			.centre {
				grid-area: centre;
				min-width: 60px;
				min-height: 60px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
			.OE {
				display: flex;
				flex-direction: column;
				align-self: center;
			}
			.est {
				grid-area: est;
				align-items: flex-start;
			}
			.ouest {
				grid-area: ouest;
				align-items: flex-end;
			}
			.donne > .encheres table {
				border: 1px solid black;
				table-layout: fixed;
				width: 300px;
				text-align: center;
			}

			.donne > .encheres table th {
				border-bottom: 1px solid black;
			}

			.donne > .encheres table tr {
				height: 1.2em;
			}
			.donne > .encheres table td {
				vertical-align: middle;
			}
			.donne > .encheres table td img {
				vertical-align: middle;
			}
			.donne > .encheres #etxt {
				width: 100%;
				height: 100%;
				border: 1px black solid;
				padding: 0.5em;
			}

			.main {
				display: flex;
				flex-direction: row;
				align-items: center;
			}
			.main > img {
				margin-right: 8px;
			}
			.vulnerable {
				border: green 10px solid;
				width: 50px;
				height: 50px;
			}
			.vulnerable.NSred {
				border-top-color: red;
				border-bottom-color: red;
			}
			.vulnerable.EWred {
				border-left-color: red;
				border-right-color: red;
			}
			#sw_edit {
				appearance: none;
			}
			#sw_edit + label {
				border: 1px darkgray solid;
				border-radius: 5px;
				margin-right: 8px;
				padding-top: 4px;
			}
			#sw_edit + label:hover {
				cursor: pointer;
				background-color: rgb(190, 190, 190);
			}
			#sw_edit:not(:checked) + label img.si_chk {
				display: none;
			}
			#sw_edit:checked + label img.si_unchk {
				display: none;
			}
			[contenteditable="false"] {
				cursor: default;
			}
			[contenteditable="true"] {
				cursor: text;
				border: lightgray 1px solid;
			}
			h3 {
				text-align: center;
			}
			.d_nord::before {
				position: relative;
				content: "▲";
				top: -100%;
				left: 30%;
			}
			.d_ouest::before {
				position: relative;
				content: "◀";
				top: 4px;
				left: -100%;
			}
			.d_est::after {
				position: relative;
				content: "▶";
				top: 4px;
				left: 140%;
			}
			.d_sud::after {
				position: relative;
				content: "▼";
				top: 130%;
				left: 30%;
			}
			.titre {
				align-self: center;
				padding: 0px 8px;
				background-color: white;
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
				border: 1px solid black;
				border-bottom: none;
			}
			.bas {
				flex-grow: 2;
				border-bottom: 1px solid black;
				height: 100%;
			}
			#volet_tree {
				display: block;
				position: relative;
				min-width: 200px;
				background-color: whitesmoke;
				box-sizing: border-box;
			}
			#volet_tree.hide_me {
				display: none;
			}
			#volet_tree .find {
				width: 100%;
				display: flex;
				flex-direction: row;
				align-items: center;
			}
			#volet_tree .find > input {
				width: 100%;
				height: 100%;
			}
			#volet_tree .find > img {
				padding: 4px;
			}
			#del_rch {
				cursor: pointer;
			}
			#volet_tree .icones {
				margin-top: 0.5em;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				width: 100%;
				align-items: center;
			}
			#volet_tree #arbre {
				margin-top: 1em;
				box-sizing: border-box;
				padding-bottom: 100px;
			}
			.ed_div {
				width: 100%;
				position: relative;
				display: flex;
				align-items: center;
				flex-direction: row;
				justify-content: space-around;
			}
			.cp_btn {
				margin: 4px;
				font-weight: bold;
				font-size: 1.2em;
				min-width: 24px;
			}
			.rch_txt {
				font-weight: bolder;
				color: blue;
				background-color: whitesmoke;
				border: blue 1px dashed;
			}
			#print_this {
				display: none;
			}

			@media (width <= 890px) {
				.donne {
					flex-direction: column-reverse;
				}
			}
			@media print {
				body {
					position: relative;
					padding: 0;
					margin: 0;
					float: none;
					background-color: white;
					background-image: none;
					overflow: visible;
				}
				#container {
					display: none;
				}
				#print_this {
					display: block;
				}
				h1 {
					padding: 0.2em;
					border-radius: 10px;
					border: 3px solid black;
					text-align: center;
					width: fit-content;
					align-self: center;
					margin-bottom: 0.5em;
				}
				h3 {
					border-bottom: 2px dashed blue;
					text-align: center;
					width: fit-content;
					align-self: center;
					margin-bottom: 0.5em;
				}
				.pagebreak {
					display: flex;
					flex-direction: column;
					position: relative;
					z-index: 2;
					box-sizing: inherit;
					clear: both;
					page-break-after: always;
				}
				.donne {
					flex-direction: column;
				}
			}
		</style>
	</head>
	<body>
		<span id="print_this"></span>
		<div class="modalBackground" id="sel_donne">
			<div class="modalWnd">
				<span class="puclose">&times;</span>
				<!-- Modal Content -->
				<h1>Sélectionner une donne</h1>
				<div>
					<label for="nom_jeu">Nom du modèle: </label>
					<select id="nom_jeu"></select>
				</div>
				<button onclick="CloseModalWnd(); OpenID(nom_jeu.value)">Ouvrir</button>
			</div>
		</div>

		<div id="container" onclick="closeMenu()">
			<div id="volets">
				<div id="volet_tree" class="hide_me">
					<div class="find">
						<img src="/images/Search.png" />
						<input type="search" id="ed_find" hlp="Rechercher une donne, un mot dans les textes" />
						<img src="/images/cancel_16px.png" id="del_rch" hlp="Effacer le champ de recherche" />
					</div>
					<div class="ed_div">
						<input type="checkbox" id="chk_find" /><label for="chk_find">Rechercher seulement<br />dans les noms des jeux</label>
					</div>
					<div class="icones si_edit">
						<img
							src="/images/subtree.png"
							alt="Déplacer cette icone sur l'arbre pour créer des nouveaux dossiers ou sous-dossiers"
							ondragstart="onSubnodeDrag(event)"
						/>
						<img id="node_trash" src="/images/trash_40px.png" draggable="false" alt="Faire glisser ici les dossiers ou jeux à effacer" />
					</div>
					<div id="arbre"></div>
				</div>
				<div id="volet_centre">
					<div class="menu">
						<input type="checkbox" id="tree_sw" />
						<label for="tree_sw">
							<img src="/images/arrow_d.png" alt="Afficher/Cacher l'arbre de situation" />
						</label>
						<div class="menu2">
							<div
								class="level0"
								style="background-image: url('/images/dossier.png')"
								hlp="Actions génériques sur une donne (ouvrir, sauver, copier...)"
							>
								<div class="level1">
									<button class="itmh" id="itm_new">
										<img src="/images/create_30px.png" alt="Créer une nouvelle donne" />Créer une donne
									</button>
									<button class="itmh si_un" alt="Sélectionner une donne existante" id="itm_open">
										<img src="/images/dossier.png" />Ouvrir une donne
									</button>
									<button class="itmh" alt="Exporter donne(s) au format SQL" id="itm_export">
										<img src="/images/Export.png" />Exporter donne(s) dans le presse-papier
									</button>
									<button class="itmh si_dirty" onclick="onSave()" alt="Enregistrer les modifications">
										<img src="/images/save_30px.png" />Sauver les changements
									</button>
									<input type="file" style="display: none" id="btn_bkp" />
									<a href="/public/bridge.db">Télécharger</a>
									<button class="itmh si_admin" onclick="onBkp()" alt="Sauvegarder la base de donnée dans un backup">
										<img src="/images/database_export_30px.png" />Sauvegarde
									</button>
									<button class="itmh si_admin" onclick="onRestore()" alt="Restaurer la base de donnée depuis une sauvegarde">
										<img src="/images/database_export_30px.png" />Restauration
									</button>
									<!--
									<button class="itmh si_un" alt="Effacer un état de la base de donnée" id="itm_del"><img src="/images/trash_30px.png" />Effacer un état</button>
									<button class="itmh si_open" alt="Enregistrer sous..." id="itm_save_as"><img src="/images/save_as_30px.png" />Faire une copie</button>
									-->
									<button class="itmh si_open" onclick="PrintThis()" alt="Imprimer">
										<img src="/images/print_30px.png" />Imprimer cette donne
									</button>
								</div>
							</div>
						</div>
						<div style="width: 90%"></div>
						<!-- repousser menuD à droite-->
						<input type="checkbox" id="sw_edit" /><label for="sw_edit">
							<img src="/images/Lock.png" class="si_unchk" hlp="Autoriser les modifications" />
							<img src="/images/Unlock.png" class="si_chk" hlp="Interdir les modifications"
						/></label>
						<button onclick="PrintThis()"><img src="/images/print_30px.png" alt="Imprimer la donne" /></button>
						<!--
						<button class="undo" onclick="Undo()" disabled><img src="/images/undo_30px.png" alt="Revenir en arrière (ctrl-Z)" /></button>
						<button class="redo" onclick="Redo()" disabled><img src="/images/redo_30px.png" alt="Annuler retour en arrière (shift-ctrl-Z)" /></button>
						-->
						<button class="si_dirty" onclick="onSave()"><img src="/images/save_30px.png" alt="Sauver les modifications" /></button>
					</div>
					<h1 class="titre" id="enr_nom" contenteditable="true" style="min-width: 3em; min-height: 1em"></h1>
					<div class="donne">
						<div class="cartes">
							<div class="NS nord"></div>
							<div class="OE ouest"></div>
							<div class="centre">
								<div class="vulnerable"></div>
							</div>
							<div class="OE est"></div>
							<div class="NS sud"></div>
						</div>
						<div class="encheres">
							<h3>Enchères</h3>
							<div class="flexV">
								<table id="tbe"></table>
								<div class="si_edit ed_div">
									<div><b>-</b>:Passe</div>
									<div><b>X</b>:Contre</div>
									<div><b>XX</b>:Surcontre</div>
								</div>
							</div>
							<div id="etxt" contenteditable="true"></div>
							<div class="ed_div">
								<div class="flexH">
									Entame:
									<label class="flexH" id="entame" contenteditable="true" style="min-width: 3em; min-height: 1em"></label>
								</div>
								<div class="flexH">
									Résultat:
									<label class="flexH" id="score" contenteditable="true" style="min-width: 10em; min-height: 1em"></label>
								</div>
							</div>
							<div class="si_edit ed_div">
								<div class="flexH">
									Vulnérable:
									<select id="ed_vul">
										<option value="-">Aucun</option>
										<option value="NSEW">Tous</option>
										<option value="NS">Nord Sud</option>
										<option value="EW">Est Ouest</option>
									</select>
								</div>
								<div class="flexH">
									Copier
									<button class="cp_btn" onclick="navigator.clipboard.writeText('♠')"><img src="/images/Spades.png" /></button>
									<button class="cp_btn" onclick="navigator.clipboard.writeText('♥')"><img src="/images/coeur.png" /></button>
									<button class="cp_btn" onclick="navigator.clipboard.writeText('♦')"><img src="/images/Diamonds.png" /></button>
									<button class="cp_btn" onclick="navigator.clipboard.writeText('♣')"><img src="/images/Clubs.png" /></button>
									<button class="cp_btn" onclick="navigator.clipboard.writeText('♠♥♦♣')"
										><img src="/images/Spades.png" /><img src="/images/coeur.png" /><img src="/images/Diamonds.png" /><img
											src="/images/Clubs.png"
									/></button>
								</div>
								<div class="flexH">
									Donneur:
									<select id="ed_donneur">
										<option value="N">Nord</option>
										<option value="E">Est</option>
										<option value="S">Sud</option>
										<option value="W">Ouest</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="flexH">
						<div class="bas"></div>
						<h3 class="titre">Jeu de la carte</h3>
						<div class="bas"></div>
					</div>
					<div id="jtxt" contenteditable="true"></div>
				</div>
			</div>
			<div id="status"></div>
		</div>
	</body>
</html>
<script src="/socket.io/socket.io.min.js"></script>
<script>
	/*
	 TODO: voir traduction avec gettext https://github.com/guillaumepotier/gettext.js/
	 TODO: Undo/Redo
	*/
	//*********************
	//  Variables globales
	//*********************
	var io = io.connect(location.host);
	var session;

	const volet_tree = document.getElementById("volet_tree"); // lié à session.choix.show_tree
	const arbre = document.getElementById("arbre");
	const node_trash = document.getElementById("node_trash");
	const tree_sw = document.getElementById("tree_sw");
	const sw_edit = document.getElementById("sw_edit");
	const etxt = document.getElementById("etxt");
	const jtxt = document.getElementById("jtxt");
	const entame = document.getElementById("entame");
	const score = document.getElementById("score");
	const itm_new = document.getElementById("itm_new");
	const enr_nom = document.getElementById("enr_nom");
	const print_this = document.getElementById("print_this");
	const DisableSelector = (classe, val) => {
		document.querySelectorAll(classe).forEach((el) => (el.disabled = val));
	};
	const SetSelectorDisplay = (classe, val) => {
		document.querySelectorAll(classe).forEach((el) => (el.style.display = val));
	};
	let enr = {};

	//*********************
	// SESSION socket I/O
	//*********************
	// connect -> session -> get_dims -> liste_donnes -> loadDonne OU nouvelle donne
	io.on("connect", function () {
		io.emit("session"); // il faut récupérer la variable de session
	});

	io.on("session", function (data) {
		//console.log(data);
		session = data;
		if (data.erreur != undefined) {
			Erreur(data.erreur);
		}
		if (data.info != undefined) {
			Info(data.info);
		}
		SetSelectorDisplay(".is_admin", session.user.admin != true ? "none" : "block");
		if (session.choix == undefined) session.choix = JSON.parse(session.user.choix);
		if (session.choix.flags == undefined) session.choix.flags = 0;
		Object.defineProperties(session.choix, {
			show_tree: {
				get: function () {
					return Boolean(this.flags & 1);
				},
				set: function (b) {
					if (b) this.flags |= 1;
					else this.flags &= ~1;
					io.emit("upducfg", "flags", this.flags);
				},
			},
			edit: {
				get: function () {
					return Boolean(this.flags & 2);
				},
				set: function (b) {
					if (b) this.flags |= 2;
					else this.flags &= ~2;
					io.emit("upducfg", "flags", this.flags);
				},
			},
			chk_find: {
				get: function () {
					return Boolean(this.flags & 4);
				},
				set: function (b) {
					if (b) this.flags |= 4;
					else this.flags &= ~4;
					io.emit("upducfg", "flags", this.flags);
				},
			},
		});

		if (session.choix.carets == undefined) session.choix.carets = "XXXXXXXXXXXXX";
		document.querySelectorAll(".caret").forEach((caret, idx) => {
			while (session.choix.carets.length <= idx) session.choix.carets += "X";
			console.assert(idx < session.choix.carets.length);
			caret.addEventListener("click", function () {
				// parentElement inclu l'élément lui-même
				this.parentElement.querySelector(".nested").classList.toggle("active");
				this.classList.toggle("caret-down");
				// En js, string est inmutable
				let ar = session.choix.carets.split("");
				ar[idx] = ar[idx] == "X" ? "-" : "X";
				session.choix.carets = ar.join("");
				io.emit("upducfg", "carets", session.choix.carets);
			});
			if (session.choix.carets[idx] == "X") {
				caret.parentElement.querySelector(".nested").classList.add("active");
				caret.classList.add("caret-down");
			}
		});
		tree_sw.checked = session.choix.show_tree;
		HideVoletGauche(session.choix.show_tree);
		chk_find.checked = session.choix.chk_find;
		ed_find.value = session.choix.find || "";
		OpenOrNew(); // asynchrone..
		console.log(session);
	});

	async function OpenOrNew() {
		if (!(await OpenID(session.choix.last_id)) && !(await OpenOneDonne())) itm_new.click();
	}

	async function OpenOneDonne() {
		try {
			const r = await SQL_get("SELECT id FROM donnes LIMIT 1");
			DisableSelector(".si_un", r == undefined);
			return r && OpenID(r.id);
		} catch (e) {
			Erreur(e);
			return false;
		}
	}

	async function OpenID(id) {
		if (id == undefined) return false;
		try {
			const row = await SQL_get("SELECT * FROM donnes WHERE id=" + id);
			if (row == undefined) return false;
			const foo = JSON.parse(row.data);
			if (!VerifierDonne(foo.donne)) return false;
			enr.jeu = foo;
			enr.nom = row.nom || "Donne n°" + row.id;
			enr.id = row.id;
			enr_nom.innerText = enr.nom;
			AfficheDonne();
			SetDirty(false);
			if (session.choix.last_id != row.id) {
				session.choix.last_id = row.id;
				io.emit("upducfg", "last_id", row.id);
			}
			MakeTree();
			DisableSelector(".si_un", false);
			return true;
		} catch (e) {
			Erreur(e);
			return false;
		}
	}

	/****************************/
	/*           STUFF          */
	/****************************/
	function getEnchereSt(v) {
		let st = "";
		if (v != "") {
			if (v == "-") st += "Passe";
			else if (v == "X") st += "Contre";
			else if (v == "XX") st += "Surcontre";
			else if (v[0] >= "1" && v[0] <= "7") {
				st += v[0];
				if (v[1] == "P" || v[1] == "♠") st += '<img src="/images/Spades.png" />';
				else if (v[1] == "C" || v[1] == "♥") st += '<img src="/images/coeur.png" />';
				else if (v[1] == "K" || v[1] == "♦") st += '<img src="/images/Diamonds.png" />';
				else if (v[1] == "T" || v[1] == "♣") st += '<img src="/images/Clubs.png" />';
				else st += v.substr(1);
			} else st += v;
		}
		return st;
	}

	function MakeEncheres(enchere) {
		let st = "<tr><th>Sud</th><th>Ouest</th><th>Nord</th><th>Est</th></tr>";
		for (let i = 0; i < enchere.length; i++) {
			if (i % 4 == 0) st += "</tr><tr>";
			const v = enchere[i];
			st +=
				'<td id="enc_' +
				i +
				'" onfocus="this.innerText =\'' +
				v +
				'\'" contenteditable="' +
				(session.choix.edit ? "true" : "false") +
				'" onblur="blurEnchere(this.innerText,' +
				i +
				')" >' +
				getEnchereSt(v) +
				"</td>";
		}
		st += "</tr>";
		return st;
	}

	function blurEnchere(val, idx) {
		if (val != enr.jeu.enchere[idx]) {
			enr.jeu.enchere[idx] = val.toUpperCase();
			SetDirty(true);
		}
		idx++;
		let next_el = "enc_" + idx;
		if (idx >= enr.jeu.enchere.length) {
			// ne pas ajouter d'enchère vide
			if (val.trim().length == 0) next_el = "etxt";
			else enr.jeu.enchere.push(" ");
		}
		document.getElementById("tbe").innerHTML = MakeEncheres(enr.jeu.enchere); // toujours refaire le contenu pour convertir
		document.getElementById(next_el).focus();
	}

	function GetHTMLmain(img, ar, idx) {
		return (
			'<div class="main" ><img src="/images/' +
			img +
			'.png" /><span style="min-width: 5em" contenteditable="true" oninput="Info(\'\')" onblur="blurMain(' +
			idx +
			',this)">' +
			AjouteBlancs(ar[idx]) +
			"</span></div>"
		);
	}
	function MakeDonne(ar, idx) {
		return GetHTMLmain("Spades", ar, idx++) + GetHTMLmain("coeur", ar, idx++) + GetHTMLmain("Diamonds", ar, idx++) + GetHTMLmain("Clubs", ar, idx++);
	}

	function ARDV2N(v) {
		if (v == "A" || v == "1") return 12;
		else if (v == "R") return 11;
		else if (v == "D") return 10;
		else if (v == "V") return 9;
		else return Number(v) - 2;
	}
	function N2ARDV(n) {
		if (n == 12) return "A";
		if (n == 11) return "R";
		if (n == 10) return "D";
		if (n == 9) return "V";
		return (n + 2).toString();
	}

	function VerifierDonne(donne) {
		// retourne -1 si erreur de distribution, ou nbr cartes manquantes si distribution ok
		let compte = new Array(52).fill(0);
		let cnt_NOES = new Array(4).fill(0);
		let not_done = 52;
		for (let i = 0; i < donne.length; i++) {
			const NOES = Math.floor(i / 4);
			const ar = AjouteBlancs(donne[i]).split(" ");
			for (let j = 0; j < ar.length; j++)
				if (ar[j].trim().length > 0) {
					const idx = 13 * (i % 4) + ARDV2N(ar[j]);
					if (compte[idx] != 0) {
						Erreur("Doublon: " + ar[j] + "♠♥♦♣"[i % 4]);
						return false;
					}
					compte[idx]++;
					if (cnt_NOES[NOES] == 13) {
						const foo = ["Nord", "Ouest", "Est", "Sud"];
						Erreur(foo[NOES] + " comporte déjà 13 cartes");
						return false;
					}
					cnt_NOES[NOES]++;
					not_done--;
				}
		}
		// distri OK. Complétable ?
		if (not_done == 13)
			for (let NOES = 0; NOES < 4; NOES++)
				if (cnt_NOES[NOES] == 0) {
					for (let i = 0; i < 4; i++) {
						let foo = "";
						const base = 13 * i;
						for (let j = 0; j < 13; j++) if (compte[base + j] == 0) foo = N2ARDV(j) + foo;
						donne[(NOES << 2) + i] = foo;
					}
					return true;
				}
		return true;
	}

	var session = { choix: {} };

	function SetChoix(nom, val) {
		session.choix[nom] = val;
	}

	function SQL(id, stm, p) {
		return new Promise((resolve, reject) => {
			io.emit(id, stm, p, (r) => {
				// ATTENTION: S'assurer que le serveur retourne bien un objet err si erreur
				//console.log("SQL", r);
				if (r != undefined && r.err != undefined) {
					reject(r.err);
				} else resolve(r);
			});
		});
	}

	function SQL_all(stm, p) {
		return SQL("cb_all", stm, p);
	}

	function SQL_get(stm, p) {
		return SQL("cb_get", stm, p);
	}

	function SQL_run(stm, p) {
		return SQL("cb_run", stm, p);
	}

	/****************************/
	/*           MENUS          */
	/****************************/
	const menu2 = document.querySelector(".menu2");
	const level0 = document.querySelectorAll(".level0");

	function closeMenu() {
		level0.forEach((itm) => {
			itm.classList.remove("open");
		});
	}

	level0.forEach((el, idx) => {
		el.addEventListener("click", (e) => {
			e.stopPropagation();
			// différencier le bouton du menu des sous-menus
			if (e.target.classList.contains("level0")) {
				let foo = e.target.classList.contains("open");
				level0.forEach((el1) => {
					el1.classList.remove("open");
				});
				if (!foo) e.target.classList.add("open");
				//session.choix.open = idx;
				//io.emit("upducfg", "etats", session.choix);
			}
		});
	});

	function SetDirty(b) {
		DisableSelector(".si_dirty", !b);
	}

	function HideVoletGauche(b) {
		if (b) volet_tree.classList.remove("hide_me");
		else volet_tree.classList.add("hide_me");
	}

	tree_sw.addEventListener("change", function () {
		HideVoletGauche(this.checked);
		session.choix.show_tree = this.checked;
	});

	function SetElvisArbre(b) {
		// tree: On ne peut déplacer les noeuds et jeux qu'en mode édition
		if (!b) removeSelection();
		// seuls les <span> jeux ont l'attribut 'draggable'. Les img sont draggable par nature
		arbre.querySelectorAll("[draggable]").forEach((el) => {
			el.setAttribute("draggable", b);
			el.style.cursor = b ? "grab" : "pointer";
		});
		arbre.querySelectorAll("[contenteditable]").forEach((el) => {
			el.setAttribute("contenteditable", b);
		});
		SetSelectorDisplay("#arbre .si_edit", b ? "flex" : "none");
	}

	function SetElvisEdit(b) {
		if (session.choix.edit != b) SetChoix("edit", b);
		if (b != sw_edit.checked) sw_edit.checked = b;
		document.querySelectorAll('[contenteditable="' + (b ? "false" : "true") + '"]').forEach((el) => {
			el.setAttribute("contenteditable", b);
		});
		SetSelectorDisplay(".si_edit", b ? "flex" : "none");
		document.getElementById("tbe").innerHTML = MakeEncheres(enr.jeu.enchere);
		SetElvisArbre(b);
	}

	sw_edit.addEventListener("change", function () {
		SetElvisEdit(this.checked);
	});

	const itm_open = document.getElementById("itm_open");
	nom_jeu = document.getElementById("nom_jeu");
	itm_open.addEventListener("click", () => {
		closeMenu();
		GetCbxDonnes()
			.then((opt) => {
				nom_jeu.innerHTML = opt;
				OpenModalWnd("sel_donne");
			})
			.catch((e) => Erreur(e));
	});

	function GetSelJeu() {
		let ar = [];
		if (session.choix.show_tree)
			for (let el of all_sel) {
				const id = Number(el.id.substr(2));
				if (id != enr.id && ar.indexOf(id) == -1) ar.push(id); // pour éviter les doublons
			}
		return ar;
	}

	function GetExportSQL(nom, jeu) {
		const st = JSON.stringify(jeu)
			.replace(/'/g, "''")
			.replace('","txt1":', '",\n"txt1":')
			.replace('","txt2":', '",\n"txt2":')
			.replace('","donne":', '",\n"donne":')
			.replace('],"enchere":', '],\n"enchere":');
		return "INSERT INTO donnes (nom,data) VALUES ('" + nom + "', '" + st + "');\n";
	}

	async function GetSelExportSQL() {
		let st = GetExportSQL(enr.nom, enr.jeu);
		const ar = GetSelJeu();
		for (let id of ar) {
			try {
				const row = await SQL_get("SELECT * FROM donnes WHERE id=" + id);
				st += GetExportSQL(row.nom, JSON.parse(row.data));
			} catch (e) {
				Erreur(e);
			}
		}
		return { n: ar.length + 1, st: st };
	}

	const itm_export = document.getElementById("itm_export");
	itm_export.addEventListener("click", () => {
		closeMenu();
		GetSelExportSQL().then((obj) => {
			navigator.clipboard.writeText(obj.st);
			Info("" + obj.n + " donnes copiés dans le presse-papier");
		});
	});

	function GetCbxDonnes() {
		return new Promise((resolve, reject) => {
			SQL_all("SELECT id,nom FROM donnes ORDER BY nom")
				.then((rows) => {
					let opt = "";
					rows.forEach((el) => {
						opt += '<option value="' + el.id + '"';
						if (session.choix.last_id === el.id) opt += " selected";
						opt += ">" + el.nom + "</option>";
					});
					resolve(opt);
				})
				.catch((e) => reject(e));
		});
	}

	nom_jeu.addEventListener("change", function () {
		CloseModalWnd();
		OpenID(this.value);
	});

	function onSave() {
		io.emit("save_donne", enr, (r) => {
			if (r.err) Erreur(r);
			else SetDirty(false);
		});
	}

	itm_new.addEventListener("click", () => {
		closeMenu();
		io.emit(
			"save_donne",
			{
				jeu: {
					donneur: "",
					vul: "",
					txt1: "",
					txt2: "",
					donne: ["", "", "", "", "", "", "", "", "", "", "", "", "", "", "", ""],
					enchere: [" ", " ", " ", " "],
					entame: " ",
					score: " ",
				},
			},
			(r) => {
				if (r.err) Erreur(r);
				else if (r.changes == 1 && OpenID(r.lastInsertRowid)) {
					SetElvisEdit(true);
					if ("showPicker" in HTMLSelectElement.prototype) ed_donneur.showPicker();
					else ed_donneur.focus();
				}
			}
		);
	});

	/****************************/
	/*   EDITION DE LA DONNE    */
	/****************************/

	const vulnerable = document.querySelector(".cartes .centre .vulnerable");
	const classIf = (el, c, b) => {
		if (b) el.classList.add(c);
		else el.classList.remove(c);
	};

	function SetVulnerable(val) {
		classIf(vulnerable, "NSred", val.startsWith("NS"));
		classIf(vulnerable, "EWred", val.endsWith("EW"));
	}

	const ed_vul = document.getElementById("ed_vul");
	ed_vul.addEventListener("change", function () {
		enr.jeu.vul = this.value;
		SetVulnerable(this.value);
		SetDirty(true);
	});

	function SetElvisDonneur(val) {
		classIf(vulnerable, "d_nord", val == "N");
		classIf(vulnerable, "d_sud", val == "S");
		classIf(vulnerable, "d_est", val == "E");
		classIf(vulnerable, "d_ouest", val == "W");
	}
	const ed_donneur = document.getElementById("ed_donneur");
	ed_donneur.addEventListener("change", function () {
		enr.jeu.donneur = this.value;
		SetElvisDonneur(this.value);
		SetDirty(true);
	});

	enr_nom.addEventListener("input", function () {
		enr.nom = this.innerText;
		SetDirty(true);
	});

	function img2PCKT(txt) {
		return txt.replace(/<img src="\/images\/Diamonds.png" \/>/g, "&diamondsuit;").replace(/<img src="\/images\/Clubs.png" \/>/g, "&clubs;");
	}

	etxt.addEventListener("focus", function () {
		this.innerText = enr.jeu.txt1;
	});

	etxt.addEventListener("blur", function () {
		console.log(this.innerText);
		if (enr.jeu.txt1 != this.innerText) {
			enr.jeu.txt1 = this.innerText.trim();
			SetDirty(true);
		}
		etxt.innerHTML = PCKT2img(enr.jeu.txt1);
	});

	jtxt.addEventListener("focus", function () {
		this.innerText = enr.jeu.txt2;
	});

	jtxt.addEventListener("blur", function () {
		if (enr.jeu.txt2 != this.innerText) {
			enr.jeu.txt2 = this.innerText.trim();
			SetDirty(true);
		}
		jtxt.innerHTML = PCKT2img(enr.jeu.txt2);
	});

	entame.addEventListener("focus", function () {
		this.innerText = enr.jeu.entame || "";
	});

	entame.addEventListener("blur", function () {
		if (enr.jeu.entame != this.innerText) {
			enr.jeu.entame = this.innerText.trim();
			SetDirty(true);
		}
		entame.innerHTML = PCKT2img(enr.jeu.entame);
	});

	score.addEventListener("focus", function () {
		this.innerText = enr.jeu.score || "";
	});

	score.addEventListener("blur", function () {
		if (enr.jeu.score != this.innerText) {
			enr.jeu.score = this.innerText.trim();
			SetDirty(true);
		}
		score.innerHTML = PCKT2img(enr.jeu.score);
	});

	function AjouteBlancs(val) {
		// ajouter les espaces
		let st = "";
		if (val != undefined && val.length) {
			let idx = 0;
			while (idx < val.length) {
				const c = val[idx++];
				if (c != " ") {
					if (st != "") st += " ";
					if (c == "1" && idx < val.length && val[idx] == "0") {
						st += "10";
						idx++;
					} else st += c;
				}
			}
		}
		return st;
	}

	function RetireBlancs(val) {
		// retirer les espaces
		let st = "";
		let idx = 0;
		while (idx < val.length) {
			const c = val[idx++];
			if (c != " ") st += c;
		}
		return st;
	}

	function blurMain(idx, val) {
		const st = RetireBlancs(val.innerText.toUpperCase());
		if (enr.jeu.donne[idx] != st) {
			enr.jeu.donne[idx] = st;
			VerifierDonne(enr.jeu.donne);
			SetDirty(true);
		}
		val.innerText = AjouteBlancs(st);
	}

	/****************************/
	/*        STATUS BAR        */
	/****************************/
	const status = document.getElementById("status"); //https://codepen.io/lcoulon/pen/QdPgqz
	document.querySelectorAll("[hlp],[alt]").forEach((itm) => {
		itm.addEventListener("mouseover", (e) => {
			e.stopPropagation();
			if (!itm.parentElement.hasAttribute("disabled")) Info(itm.getAttribute("hlp") || itm.getAttribute("alt"));
		});
		itm.addEventListener("mouseout", (e) => {
			Info("");
		});
	});

	function Info(msg) {
		status.classList.remove("warning");
		status.classList.remove("error");
		status.classList.remove("ok");
		status.innerHTML = msg;
	}

	function Erreur(msg) {
		console.error(msg);
		Info('<img src="/images/error_25px.png"/>' + msg);
		status.classList.add("error");
	}

	function OK(msg) {
		Info('<img src="/images/Ok_25px.png"/>' + msg);
		status.classList.add("ok");
	}

	function Warning(msg) {
		Info('<img src="/images/Warning Shield.png"/>' + msg);
		status.classList.add("warning");
	}

	/****************************/
	/*     FENETRES POP-UP      */
	/****************************/
	function OpenModalWnd(id) {
		document.getElementById(id).style.display = "flex";
	}

	function CloseModalWnd() {
		document.querySelectorAll(".modalBackground").forEach((el) => {
			el.style.display = "none";
		});
	}

	document.querySelectorAll(".modalBackground, .modalWnd > .puclose").forEach((el) => {
		el.addEventListener("click", (e) => CloseModalWnd());
	});

	document.querySelectorAll(".modalWnd").forEach((el) => {
		el.addEventListener("click", (e) => e.stopPropagation());
	});

	/****************************/
	/*   ARBRE DE SELECTION     */
	/****************************/
	/* Crédit: https://iamkate.com/code/tree-views/
		 structure de base d'un noeud simple:  <li>noeud</li>
		 structure de base d'un noeud avec enfants:
		  <li>
		    <details>
		      <summary>Nom du noeud</summary>
		      <ul>
		        <li>Enfant 1</li>
		        <li>Enfant 2</li>
		      </ul>
		    </details>
		  </li>
		  les enfants peuvent aussi imbriquer cette structure
		// ATTENTION: ontoggle se déclenche si 'open' dans le HTML de départ
		*/
	function AddJeux(ar, id_node) {
		let st = "";
		ar.forEach((el) => {
			st +=
				'<li id="j_' +
				el.id +
				'" node="' +
				id_node +
				'" onclick="onJeuClick(event)" draggable="true"  ondragstart="onJeuDrag(event)" hlp="' +
				(session.choix.edit ? "Drag: Déplacer. Shift-drag: dupliquer le jeu dans un autre dossier. " : "") +
				(el.id == enr.id ? '" class="tree_sel' : "Clic: Ouvrir.") +
				'" >' +
				(el.nom || "Donne n°" + el.id);
			//st += '<img class="si_edit" src="/images/Hand_25px.png" id="jeux' + el.id + '" hlp="Sert à faire glisser le jeu vers un autre dossier ou la corbeille"/>';
			st += "</li>";
		});
		return st;
	}

	function AddChilds(ar) {
		if (ar == undefined) return "";
		let st = "";
		const ar_max = ar.length - 1;
		ar.forEach((el, idx) => {
			if (idx != el.pos) SQL_run("UPDATE arbre SET pos=? WHERE id=?", [idx, id]).catch((e) => Erreur(e));
			st +=
				'<li><details open><summary ondragstart="onNodeDrag(event)" ondragenter="onDragEnter(this)" ondragleave="onDragLeave(this)" onDrop="DropOnNode(event)" >';
			st += '<span contenteditable node="' + el.id + '" onblur="onBlurNode(' + el.id + ',this.innerText)">' + el.itm + "</span>";
			st +=
				'<img class="si_edit" src="/images/Hand_25px.png" id="node' +
				el.id +
				'" hlp="Sert à faire glisser le dossier vers un autre dossier ou la corbeille (n\'efface pas les jeux)"/>';
			if (idx > 0)
				st +=
					'<img class="si_edit" src="/images/up_25px.png" onclick="UpNode(event,' +
					el.id +
					"," +
					el.pos +
					' )" hlp="Remonter ce dossier dans la liste"/>';
			if (idx < ar_max)
				st +=
					'<img class="si_edit" src="/images/down_25px.png" onclick="DownNode(event,' +
					el.id +
					"," +
					el.pos +
					')" hlp="Descendre ce dossier dans la liste"/>';
			st += "</summary><ul>" + AddChilds(el.childs) + AddJeux(el.jeux, el.id) + "</ul></details>";
		});
		return st;
	}

	async function renumerote(id, pos) {
		console.log("renum", id, pos);
		try {
			await SQL_run("UPDATE arbre SET pos=? WHERE id=?", [pos - 1, id]);
		} catch (e) {
			Erreur(e);
		}
	}
	async function UpNode(ev, id, pos) {
		ev.preventDefault();
		ev.stopPropagation();
		try {
			await SQL_run("UPDATE arbre SET pos=? WHERE pos=?", [pos, pos - 1]);
			await SQL_run("UPDATE arbre SET pos=? WHERE id=?", [pos - 1, id]);
			MakeTree();
		} catch (e) {
			Erreur(e);
		}
	}

	async function DownNode(ev, id, pos) {
		ev.preventDefault();
		ev.stopPropagation();
		try {
			await SQL_run("UPDATE arbre SET pos=? WHERE pos=?", [pos, pos + 1]);
			await SQL_run("UPDATE arbre SET pos=? WHERE id=?", [pos + 1, id]);
			MakeTree();
		} catch (e) {
			Erreur(e);
		}
	}

	function SetEventTree() {
		SetElvisArbre(session.choix.edit);
		document.querySelectorAll(".tree [hlp],.tree [alt]").forEach((itm) => {
			itm.addEventListener("mouseover", (e) => {
				e.stopPropagation();
				Info(itm.getAttribute("hlp") || itm.getAttribute("alt"));
			});
			itm.addEventListener("mouseout", (e) => {
				Info("");
			});
		});
	}

	function MakeTree(selector) {
		Info("");
		if (ed_find.value.trim() != "") MakeRecherche();
		else
			io.emit("get_tree", (r) => {
				arbre.innerHTML =
					'<ul class="tree">' +
					AddChilds(r.childs) +
					"<li><details open><summary>Non classés</summary><ul>" +
					AddJeux(r.jeux, 0) +
					"</ul></details></li></ul>";
				SetEventTree();
				if (selector != undefined) {
					const el = arbre.querySelector(selector);
					el.focus();
					window.getSelection().selectAllChildren(el);
				}
			});
	}

	const all_sel = arbre.getElementsByClassName("tree_sel"); // en temps réel
	const removeSelection = () => {
		for (const el of all_sel) el.classList.remove("tree_sel");
		arbre.querySelectorAll("#j_" + enr.id).forEach((el) => el.classList.add("tree_sel"));
	};

	arbre.addEventListener("dragover", (e) => {
		if (session.choix.edit) e.preventDefault();
	});

	node_trash.addEventListener("dragover", (ev) => {
		ev.preventDefault();
		let id = ev.dataTransfer.getData("application/internal");
		console.log(id);
		if (id.startsWith("j_")) Warning("Attention: Vous allez effacer une donne");
	});

	node_trash.addEventListener("drop", (ev) => {
		Info("");
		ev.preventDefault();
		let id = ev.dataTransfer.getData("application/internal");
		console.log(id);
		if (id.startsWith("node")) {
			SQL_run("DELETE FROM arbre WHERE id=" + id.substr(4))
				.then((r) => {
					// les triggers effacent automatiquement les data2tree et les enfants
					console.log(r);
					MakeTree();
				})
				.catch((e) => Erreur(e));
		} else if (id.startsWith("j_")) {
			SQL_run("DELETE FROM donnes WHERE id=" + id.substr(2))
				.then((r) => {
					// les triggers effacent automatiquement les data2tree et les enfants
					console.log(r);
					if (id.substr(2) != enr.id || OpenOrNew()) MakeTree();
				})
				.catch((e) => Erreur(e));
		}
	});

	function onDragEnter(el) {
		el.style.color = "blue";
		el.style.fontWeight = "bold";
	}

	function onDragLeave(el) {
		el.style.color = "inherit";
		el.style.fontWeight = "inherit";
	}

	function onJeuClick(e) {
		e.stopPropagation();
		e.preventDefault();
		if (e.ctrlKey == false) {
			removeSelection();
			OpenID(Number(e.target.id.substr(2)));
		} else e.target.classList.add("tree_sel");
		//SelectObjet(e.target.id, e.shiftKey, e.ctrlKey);
	}

	function onJeuDrag(ev) {
		ev.dataTransfer.setData("application/internal", ev.target.id);
		ev.dataTransfer.setData("text/plain", ev.target.id);
		ev.dataTransfer.dropEffect = "move";
	}

	// Rappel: node_org=0 si non-classé (jeu sans entrée dans la table data2tree)
	async function onJeuDrop(id, node_dest, make_copy) {
		const node_org = Number(document.getElementById(id).getAttribute("node"));
		if (node_dest == null) node_dest = 0;
		//console.log("Déplace " + id + "du node " + node_org + " au node " + node_dest);
		try {
			if (node_dest != 0 && (node_org == 0 || make_copy == true))
				await SQL_run("INSERT INTO data2tree (id_donne,id_arbre) VALUES (" + id.substr(2) + "," + node_dest + ")");
			else if (node_dest == 0) await SQL_run("DELETE FROM data2tree WHERE id_donne=" + id.substr(2) + " AND id_arbre=" + node_org);
			else await SQL_run("UPDATE data2tree SET id_arbre=" + node_dest + " WHERE id_donne=" + id.substr(2) + " AND id_arbre=" + node_org);
			MakeTree();
		} catch (e) {
			Erreur(e);
		}
	}

	function onNodeDrag(ev) {
		ev.dataTransfer.setData("application/internal", ev.target.id);
		ev.dataTransfer.setData("text/plain", ev.target.id);
		ev.dataTransfer.dropEffect = "move";
	}

	arbre.addEventListener("drop", (ev) => {
		Info("");
		ev.preventDefault();
		let id = ev.dataTransfer.getData("application/internal");
		console.log("drop on arbre " + id);
		if (id.startsWith("j_")) onJeuDrop(id, ev.target.getAttribute("node"), ev.shiftKey);
		else if (id.startsWith("node")) unLinkNode(id.substr(4));
		else if (id.startsWith("subnode")) AddNode();
	});

	async function unLinkNode(id) {
		try {
			await SQL_run("DELETE FROM arbre WHERE id=" + id);
			MakeTree();
		} catch (e) {
			Erreur(e);
		}
	}

	async function AddNode() {
		try {
			let pos = await SQL_get("SELECT MAX(pos)+1 as n FROM arbre");
			let r = await SQL_run("INSERT INTO arbre (itm,pos) VALUES ('Nouveau dossier',?)", pos.n || 0);
			console.log(r);
			MakeTree('details [node="' + r.lastInsertRowid + '"]');
		} catch (e) {
			Erreur(e);
		}
	}

	async function DropOnNode(ev) {
		// id est toujours sous la forme 'nodexxx'
		const node_dest = ev.target.getAttribute("node");
		ev.preventDefault();
		ev.stopPropagation();
		onDragLeave(ev.target.parentElement);
		const dt = ev.dataTransfer;
		let foo = dt.getData("application/internal");
		console.log("DropOnNode " + foo, node_dest);
		try {
			if (foo.startsWith("j_")) onJeuDrop(foo, node_dest, ev.shiftKey);
			else if (foo == "subnode") {
				await SQL_run("INSERT INTO arbre (id_parent,itm) VALUES (" + node_dest + ",'Nouveau dossier')");
				MakeTree();
			} else if (foo.startsWith("node")) {
				await SQL_run("UPDATE arbre SET id_parent=" + node_dest + " WHERE id=" + foo.substr(4));
				MakeTree();
			}
		} catch (e) {
			Erreur(e);
		}
	}

	function onSubnodeDrag(ev) {
		ev.dataTransfer.setData("application/internal", "subnode");
		ev.dataTransfer.setData("text/plain", "subnode");
		ev.dataTransfer.dropEffect = "copy";
	}

	async function onBlurNode(id_node, txt) {
		try {
			// récupérer le nom
			const id = " WHERE id=" + id_node;
			r = await SQL_get("SELECT itm FROM arbre" + id);
			if (r.itm != txt) {
				console.log(r, txt);
				await SQL_run("UPDATE arbre SET itm=?" + id, txt);
			}
		} catch (e) {
			Erreur(e);
		}
	}

	function PCKT2img(txt) {
		if (txt == undefined) return "";
		const rch = ed_find.value.trim();
		if (rch != "") txt = txt.replace(new RegExp(rch, "ig"), '<span class="rch_txt">' + rch + "</span>");
		return txt
			.replace(/♦/g, '<img src="/images/Diamonds.png" />')
			.replace(/♣/g, '<img src="/images/Clubs.png" />')
			.replace(/♠/g, '<img src="/images/Spades.png" />')
			.replace(/♥/g, '<img src="/images/coeur.png" />')
			.replace(/\n/g, "<br />");
	}

	/****************************/
	/*        RECHERCHER        */
	/****************************/
	const ed_find = document.getElementById("ed_find");
	const chk_find = document.getElementById("chk_find");

	chk_find.addEventListener("change", function () {
		session.choix.chk_find = this.checked;
		MakeTree();
	});

	const onRchChg = (val) => {
		session.choix.find = val;
		io.emit("upducfg", "find", val);
		MakeTree();
	};

	ed_find.addEventListener("input", function () {
		onRchChg(this.value);
	});

	document.getElementById("del_rch").addEventListener("click", function () {
		ed_find.value = "";
		onRchChg("");
		AfficheTextes();
	});

	function MakeRecherche() {
		const like = " LIKE '%" + ed_find.value.replace(/'/g, "''") + "%'";
		let stm = "SELECT id,nom FROM donnes WHERE nom" + like;
		if (!chk_find.checked) stm += " OR data" + like;
		SQL_all(stm)
			.then((r) => {
				arbre.innerHTML = '<ul class="tree">' + "<li><details open><summary>Résultat</summary><ul>" + AddJeux(r, 0) + "</ul></details></li></ul>";
				SetEventTree();
				if (r.length == 0) Warning("Pas de résultats");
				else if (r.findIndex((el) => el.id == session.choix.last_id) == -1) OpenID(r[0].id);
				else AfficheTextes();
			})
			.catch((e) => Erreur(e));
	}

	/****************************/
	/*           START          */
	/****************************/
	function AfficheTextes() {
		entame.innerHTML = PCKT2img(enr.jeu.entame);
		score.innerHTML = PCKT2img(enr.jeu.score);
		etxt.innerHTML = PCKT2img(enr.jeu.txt1);
		jtxt.innerHTML = PCKT2img(enr.jeu.txt2);
	}

	function AfficheDonne() {
		document.querySelector(".cartes > .nord").innerHTML = MakeDonne(enr.jeu.donne, 0);
		document.querySelector(".cartes > .ouest").innerHTML = MakeDonne(enr.jeu.donne, 4);
		document.querySelector(".cartes > .est").innerHTML = MakeDonne(enr.jeu.donne, 8);
		document.querySelector(".cartes > .sud").innerHTML = MakeDonne(enr.jeu.donne, 12);
		SetElvisEdit(session.choix.edit || false);
		ed_vul.value = enr.jeu.vul;
		SetVulnerable(enr.jeu.vul);
		ed_donneur.value = enr.jeu.donneur;
		SetElvisDonneur(enr.jeu.donneur);
		AfficheTextes();
	}

	//*********************
	//     Print Stuff
	//*********************

	function PrintDonne(nom, jeu) {
		let st = '<div class="pagebreak"><h1>' + nom + "</h1>";
		st += '<div class="donne">';
		st += '<div class="cartes">';
		st += '<div class="NS nord">' + MakeDonne(jeu.donne, 0) + "</div>";
		st += '<div class="OE ouest">' + MakeDonne(jeu.donne, 4) + "</div>";
		st += '<div class="centre"><div class="vulnerable';
		if (jeu.vul.startsWith("NS")) st += " NSred";
		if (jeu.vul.endsWith("EW")) st += " EWred";
		if (jeu.donneur == "N") st += " d_nord";
		else if (jeu.donneur == "S") st += " d_sud";
		else if (jeu.donneur == "E") st += " d_est";
		else if (jeu.donneur == "W") st += " d_ouest";
		st += '"></div></div>';
		st += '<div class="OE est">' + MakeDonne(jeu.donne, 8) + "</div>";
		st += '<div class="NS sud">' + MakeDonne(jeu.donne, 12) + "</div>";
		st += "</div>";
		st += '<div class="encheres"><h3>Enchères</h3><div class="flexV"><table><tr><th>Sud</th><th>Ouest</th><th>Nord</th><th>Est</th></tr>';
		for (let i = 0; i < jeu.enchere.length; i++) {
			if (i % 4 == 0) st += "</tr><tr>";
			st += "<td>" + getEnchereSt(jeu.enchere[i]) + "</td>";
		}
		st += "</tr></table></div>";
		st += "<div>" + PCKT2img(jeu.txt1) + "</div></div></div>";
		st += '<div class="ed_div"><div class="flexH">Entame:<label class="flexH">' + PCKT2img(jeu.entame) + "</label></div>";
		st += '<div class="flexH">Résultat:<label class="flexH" >' + PCKT2img(jeu.score) + "</label></div></div>";
		return st + "<h3>Jeu de la carte</h3><div>" + PCKT2img(jeu.txt2) + "</div></div>";
	}

	async function PrintThis() {
		closeMenu();
		let st = PrintDonne(enr.nom, enr.jeu);
		let ar = GetSelJeu();
		for (let id of ar)
			try {
				const row = await SQL_get("SELECT * FROM donnes WHERE id=" + id);
				const foo = JSON.parse(row.data);
				if (VerifierDonne(foo.donne)) st += PrintDonne(row.nom || "Donne n°" + row.id, foo);
			} catch (e) {
				Erreur(e);
			}
		// ar contient les id des jeux sélectionnés en dehors de celui en cours
		print_this.innerHTML = st;
		//navigator.clipboard.writeText(print_this.innerHTML);
		window.print();
		print_this.innerHTML = "";
	}

	//*********************
	//  Backup - Restore
	//*********************
	function onBkp() {}

	function onRestore() {}
</script>
